.contactColumn {
  padding: 0 1rem 1rem;
  width: 50%;
}

.contactContainer {
  display: flex;
}

@media only screen and (max-width: 991px) {
  .contactColumn {
    width: 100%;
  }

  .contactContainer {
    display: block;
  }
}
