a.strongLink {
  background: #000;
  color: rgb(234, 225, 215, 1);
  padding: 1rem;
  margin: 2rem 0 0 0;
  display: block;
  width: fit-content;
}

a.strongLink:hover {
  background: rgb(60, 60, 60);
  box-shadow: 5px 10px #888888;
  color: rgb(234, 225, 215, 1);
  transform: translateY(-0.5rem);
  transition: box-shadow 0.25s, transform 0.25s;
}
