/* note: .topNav styled like globals.css `main` */
.topNav {
  display: flex;
  min-height: 8vh;
  padding: 2rem 1rem;
  width: 100%;
}

.topNav a {
  text-decoration: none;
}

.topNav ul {
  justify-content: space-evenly;
  display: flex;
  width: 30rem;
  margin: auto;
  max-width: 80%;
  padding: 0;
}

.topNav ul.floatRight {
  justify-content: flex-end;
  margin: 0 0 0 auto;
}

.topNav ul li {
  display: inline-flex;
  list-style: none;
}

.topNav ul.floatRight li {
  margin-left: 2rem;
}
