/* theme: https://coolors.co/ffe2d6-fcefee-d2dad6-eae1d7-ffdbc2 */

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
}

a:visited {
  color: black;
}

a:hover {
  color: #69bd93;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.cover-image {
  max-height: 40vh;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.list-style-none {
  list-style: none;
}

.m-0 {
  margin: 0;
}

.m-pt5rem {
  margin: 0.5rem;
}

.p-0 {
  padding: 0;
}

.rowColored {
  background-color: rgb(234, 225, 215, 0.4);
  text-align: center;
  width: 100%;
}

.rowWhite {
  background-color: #fff;
  text-align: center;
  width: 100%;
}

.textAlignLeft {
  text-align: left;
}

h2.title {
  font-size: 4rem;
  font-weight: 400;
}

.twoColumnRowImage {
  width: 80%;
}

.underlined {
  text-decoration: underline;
}

/*
  ref: https://getbootstrap.com/docs/5.0/layout/breakpoints/
  max-width derived from bootstrap medium
  includes cell phones, tablets, very small laptops
*/
@media only screen and (max-width: 991px) {
  main {
    padding: 0 1rem 1rem;
    width: 100%;
  }

  .mobile-hidden {
    display: none;
  }

  .twoColumnRowImage {
    width: 100%;
  }
}
