/* theme: https://coolors.co/ffe2d6-fcefee-d2dad6-eae1d7-ffdbc2 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

main {
  margin: auto;
  padding: 0 0 2rem;
  width: 92%;
}

.m-pt5rem {
  margin: 0.5rem;
}

/*
  ref: https://getbootstrap.com/docs/5.0/layout/breakpoints/
  max-width derived from bootstrap medium
  includes cell phones, tablets, very small laptops
*/
@media only screen and (max-width: 991px) {
  main {
    padding: 0 1rem 1rem;
    width: 100%;
  }
}
